{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">

        <h1>🍽 Restaurant Management System</h1>

        <p>Welcome! Please choose an option.</p>

        <a href="{% url 'menu' %}" class="btn">
            View Menu
        </a>

        <a href="{% url 'reserve' %}" class="btn">
            Reserve Table
        </a>

        <a href="{% url 'order' %}" class="btn">
            Place Order
        </a>

    </div>
</body>

</html>