{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservatiion Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>Reserve Table {{table.table_number}}</h1>
        <h3>Capacity: {{ table.capacity }}</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn">Confirm Reservation</button>
        </form>
    </div>
</body>

</html>